{% extends 'base.html' %}

{% block title%} Django-Dash All {% endblock %}

{% block content %}
<h1>Welcome to Django Dash</h1>
    
<p>This is my Homework Submission for Kickstart Coding!</p>

<div class="p-5 m-5 shadow">
    <p>Learn more about our repos:</p>

    <a class="btn btn-lg btn-secondary" href="all/">List of all our repos</a>
    <a class="btn btn-lg btn-success" href="chart/">Repos graphed by size</a>
    <a class="btn btn-lg btn-primary" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Defintely not a Rick Roll!</a>
</div>
{% endblock content %}